<h1>Stupid Coaching</h1>

<p><%= "Hello there" %></p>
<p><%= "-You" %></p>
<br/>
<p><%= "I don't care, get dressed and go to work!" %></p>
<p><%= "-You coach" %></p>

<%= link_to "Ask a new question" ask_path%>


